@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #F5F5F7;
}
html {
    scroll-behavior: smooth;
  }

@media (max-width: 1025px){
    .container {
        padding: 0 15px;
}
}
.motion-element {
    will-change: opacity, transform;
  }